<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="content">
    {% if page.title %}
    <div class="book-content">
      <div class="table-of-contents">
        {% include toc.html html=content %}
      </div>
      <main class="main">
        {{ content }}
      </main>
    </div>
  </div>
  {% else %}
  {% include header.html %}
  {% include mobile_menu.html %}
  <main class="main">
    {{ content }}
  </main>
  {% endif %}
  </div>

  {% include footer.html %}
  {% include js.html %}
</body>

</html>